@font-face {
  font-family: "hubdisplay";
  src: url(../fonts/Hub191Display.woff2);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "hubregular";
  src: url(../fonts/Hub191Regular.woff2);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "hubrounded";
  src: url(../fonts/Hub191Rounded.woff2);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "hubscript";
  src: url(../fonts/Hub191Script.woff2);
  font-style: normal;
  font-display: swap;
}
