/* ====================================
// css variables
// ==================================== */

:root {
  --black: #000000;
  --white: #ffffff;
  --dark: #121212;
  --red: #ff6852;
  --green: #28926a;
  --brown: #664337;
}

/* ====================================
// reset rules
// ==================================== */

@import "bootstrap/scss/bootstrap-grid";
@import "fonts.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 100;
}

/* ====================================
// base rules
// ==================================== */

.row {
  padding: 0;
}

// header

header {
  position: sticky;
  top: 0px;
  z-index: 2;
}

.container-nav {
  background-color: var(--red);
  display: flex;
  justify-content: center;
}

.logo {
  text-align: center;
  padding: 10px;
  width: 150px;
}

@media (max-width: 992px) {
  .logo {
    width: 100px;
  }
}

.header-nav {
  color: var(--white);
  font-family: Hub191Display-Regular;
  margin: 0px 20px;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0;
  text-decoration: none;
}

.nav-icone {
  font-family: FontAwesome6Free-Solid;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: 0;
  position: fixed;
  right: 25px;
  top: 30px;
}

.fa-solid {
  margin: 8px;
}

@media (max-width: 992px) {
  .header-nav {
    display: none;
  }
}

.header-link {
  position: relative;
  top: 15px;
}

//burger menu

.burger-line {
  top: 17px;
  left: 15px;
  position: fixed;
  margin-top: 7px;
  width: 27px;
  height: 3px;
  background-color: var(--white);
  border-radius: 10px;
  margin-top: 1em;
  transition: all 0.4s;
}

.burger-line-02 {
  top: 10px;
}

.burger-line-03 {
  top: 3px;
}

.burger-close.is-active {
  .burger-line-01 {
    transform: rotate(45deg) translateY(-10px);
  }

  .burger-line-02 {
    transform: translateX(-50%);
    opacity: 0;
  }

  .burger-line-03 {
    transform: rotate(-45deg) translateY(10px);
  }
}

@media (min-width: 992px) {
  .burger-close {
    display: none;
  }
}

.credits {
  position: fixed;
  bottom: 24px;
  left: 17px;
  opacity: 0.45;
  font-family: "ppagrandir";
  font-size: 12px;
  color: #5c0c00;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

//burger menu 2

.burger-open {
  border-top: var(--white) solid 1.5px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: var(--red);
  z-index: 10;
  top: 50.4px;
  color: white;
  font-family: "hubdisplay";
  font-size: 47px;
  color: var(--white);
  letter-spacing: 0;
  opacity: 0;
}

.burger-link {
  margin: 15px 0px 0px 17px;
  text-decoration: none;
}

.burger-open.is-open {
  opacity: 1;
}

.menu {
  margin-top: 20px;
}

@media (min-width: 992px) {
  .burger-open {
    display: none;
  }
}

//burger menu 3

.burger-open {
  border-top: var(--white) solid 1.5px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: var(--red);
  z-index: 10;
  top: 50.4px;
  color: white;
  font-family: "hubdisplay";
  font-size: 47px;
  color: var(--white);
  letter-spacing: 0;
  opacity: 0;
}

.burger-link {
  margin: 15px 0px 0px 17px;
  text-decoration: none;
}

.burger-open.is-open {
  opacity: 1;
}

.menu {
  margin-top: 20px;
}

@media (min-width: 992px) {
  .burger-open {
    display: none;
  }
}

// anim-01

.defiling-container {
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
}

.defiling-text {
  display: flex;
  flex-direction: row;
  font-family: "hubregular";
  font-size: 21px;
  white-space: nowrap;
  animation: scrollTxt1 12.5s linear infinite;
}

@keyframes scrollTxt1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

.animation-01 {
  background-color: var(--white);
  border-bottom: var(--black) solid 2px;
  border-top: var(--black) solid 2px;
}

.animation-separation {
  padding: 4px 10px 0px 10px;
  border-right: var(--black) solid 2px;
}

//anime-02

.defiling-container-reverse {
  background-color: var(--black);
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  width: 100%;
}

.defiling-text-reverse {
  display: flex;
  flex-direction: row-reverse;
  animation: scrollTxt2 15s linear infinite;
}

@keyframes scrollTxt2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(50%, 0);
  }
}

.animation-02 {
  font-family: "hubdisplay";
  color: var(--white);
  font-size: 38px;
  white-space: nowrap;
  background-color: var(--black);
  border-bottom: var(--white) solid 2px;
  border-top: var(--white) solid 2px;
}

.animation-separation-w {
  padding: 4px 10px 0px 10px;
  border-right: var(--white) solid 2px;
}

// anime-3

.animation-03 {
  background-color: var(--green);
  font-family: "hubscript";
  color: var(--white);
  font-size: 38px;
  letter-spacing: 0;
  border-bottom: var(--white) solid 1.5px;
}

// anime-4

.animation-04 {
  background-color: var(--white);
  padding: 10px 0px;
  // animation: scrollTxt1 12.5s linear infinite 0s;
  overflow: hidden;
}

.defiling-container-img {
  display: flex;
  flex-direction: row;
}

.defiling-container-img img {
  width: 90px;
  margin: 0px 10px;
}

// anime-5 (2) recipes

.animation-alternate-style {
  font-family: "hubregular";
  font-size: 38px;
  letter-spacing: 0;
  line-height: 34px;
  padding-top: 2px;
}

//main introduction

.logo-black {
  text-align: center;
  width: 320px;
  margin-top: 10px;
  margin-bottom: 15px;
}

@media (min-width: 992px) {
  .logo-black {
    width: 600px;
    margin-top: 25px;
    margin-bottom: 35px;
  }
}

.separation-line {
  border: var(--black) solid 0.7px;
  width: 100%;
}

.introduction-title {
  font-family: "hubdisplay";
  font-size: 46px;
  color: #000000;
  letter-spacing: 0;
  line-height: 35px;
  padding: 28px 17px 10px 17px;
}

@media (min-width: 992px) {
  .introduction-title {
    font-size: 60px;
    line-height: 46px;
    border-right: var(--black) solid 0.7px;
    max-width: 600px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 200px;
  }
}

.introduciton-text {
  font-family: "ppagrandir";
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  line-height: 22px;
  max-width: 340px;
  padding: 10px 17px 28px 17px;
}

@media (min-width: 992px) {
  .introduciton-text {
    margin-left: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.introduction {
  color: var(--black);
  background-color: var(--white);
}

//main burgers articles

.burgers-dark {
  background-color: var(--black);
  color: var(--white);
}

.burgers-title {
  font-family: "hubdisplay";
  font-size: 88px;
  letter-spacing: 0;
  line-height: 68px;
  padding: 28px 17px 0px 17px;
}

@media (min-width: 992px) {
  .burgers-title {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 500px) {
  .burgers-title {
    font-size: 66px;
    line-height: 52px;
  }
}

.burgers-script-text {
  font-family: "hubscript";
  font-size: 46px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 35px;
  padding: 0px 17px 0px 17px;
}

@media (min-width: 992px) {
  .burgers-script-text {
    padding-top: 104px;
    padding-bottom: 40px;
    max-width: 350px;
  }
}

// burger articles

.article-container img {
  background-image: linear-gradient(
    180deg,
    rgba(238, 238, 238, 0) 50%,
    rgba(0, 0, 0, 0.65) 82%
  );
}

.article-container {
  max-width: 343px;
  margin: 14px 0px;
}

.article-centering {
  display: flex;
  justify-content: center;
  margin: 0;
}

.article-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.burger-article-title {
  font-family: "hubregular";
  font-size: 32px;
  color: var(--white);
  letter-spacing: 0;
  padding: 10px 10px 0px 10px;
}

.article-arrow {
  font-size: 36px;
  color: #ffffff;
  letter-spacing: 0;
  padding: 0px 15px 0px 0px;
}

.article-text-container {
  border-bottom-right-radius: 19px;
}

.article-green {
  background: var(--green);
}

.article-red {
  background: var(--red);
}

.article-brow {
  background: var(--brown);
}

// button find more

.button-container {
  text-align: center;
  margin: 20px 0px 0px 0px;
  padding-bottom: 30px;
}

@media (min-width: 992px) {
  .button-container {
    margin: 50px 0px 0px 0px;
    padding-bottom: 50px;
  }
}

.burger-article-button {
  text-align: center;
  font-family: "hubregular";
  font-size: 41px;
  color: #ffffff;
  letter-spacing: 0;
  text-decoration: none;
  padding: 10px 25px 5px 25px;
  border: 1px solid #ffffff;
}

// reservation

.reservation-container {
  background-color: var(--green);
}

.reservation-title {
  padding-top: 40px;
  color: var(--white);
}

.reservation-text {
  color: var(--white);
}

@media (min-width: 992px) {
  .reservation-pad {
    margin-top: 20px;
  }
}

@media (min-width: 992px) {
  .reservation-title {
    border-right: var(--white) solid 0.7px;
    padding-top: 40px;
    margin-top: 0px;
    padding-right: 60px;
  }
}

@media (min-width: 992px) {
  .reservation-text {
    display: flex;
    align-items: flex-end;
  }
}

.separation-white {
  border: var(--white) solid 0.7px;
}

@media (max-width: 992px) {
  .separation-white {
    display: none;
  }
}

//reservation module

.reservation-container-style {
  height: 58px;
}

@media (min-width: 992px) {
  .reservation-container-pad {
    padding-top: 80px;
  }
}

.reservation-container {
  font-family: "hubregular";
  font-size: 48px;
  color: var(--white);
  letter-spacing: 0;
}

.reservation-border {
  border: var(--white) solid 1.5px;
  margin: 10px 0px;
  padding: 0px 10px 0px 10px;
}

.guest-container {
  display: flex;
  justify-content: space-between;
}

.date-container {
  display: flex;
  justify-content: space-between;
}

.time-container {
  display: flex;
  justify-content: space-between;
}

.reservation-separation-line {
  position: relative;
  padding-top: 10px;
  border-right: var(--white) solid 1.5px;
}

.reservation-separation-line {
  position: relative;
  height: 56px;
}

.mascotte-container {
  display: flex;
  justify-content: center;
}

.mascotte {
  width: 350px;
}

@media (max-width: 992px) {
  .mascotte {
    width: 300px;
    padding: 20px 0px;
  }
}

@media (min-width: 992px) {
  .mascotte {
    padding: 50px 0px 50px 50px;
  }
}
