/* ====================================
// css variables
// ==================================== */

:root {
  --black: #000000;
  --white: #ffffff;
  --dark: #121212;
  --red: #ff6852;
  --green: #28926a;
  --brown: #664337;
}

/* ====================================
// reset rules
// ==================================== */

@import "bootstrap/scss/bootstrap-grid";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

h2 {
  font-size: 2px;
  color: red;
  background-color: blue;
}

h1 {
  font-family: "hubdisplay";
  color: green;
}
// header

header {
  position: sticky;
  top: 0px;
  z-index: 1;
}

.container-nav {
  background-color: var(--red);
  display: flex;
  justify-content: center;
}

.logo {
  text-align: center;
  padding: 10px;
  width: 150px;
}

@media (max-width: 992px) {
  .logo {
    width: 100px;
  }
}

.header-nav {
  color: var(--white);
  font-family: Hub191Display-Regular;
  margin: 0px 20px;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0;
  text-decoration: none;
}

.nav-icone {
  font-family: FontAwesome6Free-Solid;
  font-size: 10px;
  color: #ffffff;
  letter-spacing: 0;
  position: fixed;
  right: 45px;
  top: 30px;
}

.fa-solid {
  margin: 8px;
}

@media (max-width: 992px) {
  .header-nav {
    display: none;
  }
}

//burger

.line {
  top: 17px;
  left: 15px;
  position: fixed;
  margin-top: 7px;
  width: 27px;
  height: 3px;
  background-color: var(--white);
  border-radius: 10px;
  margin-top: 1em;
}

.line-02 {
  top: 10px;
}

.line-03 {
  top: 3px;
}

@media (min-width: 992px) {
  .burger-close {
    display: none;
  }
}

// anim-01

.defiling-container {
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
}

.defiling-text {
  display: flex;
  flex-direction: row;
  font-family: "hubregular";
  font-size: 21px;
  white-space: nowrap;
  animation: scrollTxt1 12.5s linear infinite;
}

@keyframes scrollTxt1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

.animation-01 {
  background-color: var(--white);
  border-bottom: var(--black) solid 2px;
  border-top: var(--black) solid 2px;
}

.animation-separation {
  padding: 4px 10px 0px 10px;
  border-right: var(--black) solid 2px;
}
